*{
	margin: 0;
	padding: 0;
	
}
.login{
	background-color: black;
}
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }
  .dropdown-content{
   width: max-content !important;
   height:auto !important;
}

.sel{
	background-color: black;
	color: white;
	border: 1px white solid;
}